NEXT_PUBLIC_ENVIRONMENT=LOCAL
NEXT_PUBLIC_SALEOR_API_URL=http://localhost:8000/graphql/
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=
AWS_REGION=ap-southeast-1
AWS_ENDPOINT_URL=http://localhost:4566
STRIPE_SECRET_KEY=sk_test_123
STRIPE_WEBHOOK_SIGNING_SECRET=whsec_test_123
SECRET_MANAGER_APP_CONFIG_PATH=/poc-stripe-marketplace/app-config
