# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Production
.vercel
.turbo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore
.github

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
*.md
docs

# Tests
**/tests
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx

