@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* stone-50 */ --background: 60 9% 98%;
    /* stone-900 */ --foreground: 24 10% 10%;
    /* stone-50 */ --card: 60 9% 98%;
    /* stone-900 */ --card-foreground: 24 10% 10%;
    /* stone-50 */ --popover: 60 9% 98%;
    /* stone-900 */ --popover-foreground: 24 10% 10%;
    /* stone-900 */ --primary: 24 10% 10%;
    /* stone-50 */ --primary-foreground: 60 9% 98%;
    /* stone-100 */ --secondary: 60 5% 96%;
    /* stone-900 */ --secondary-foreground: 24 10% 10%;
    /* stone-100 */ --muted: 60 5% 96%;
    /* stone-500 */ --muted-foreground: 25 6% 45%;
    /* stone-100 */ --accent: 60 5% 96%;
    /* stone-900 */ --accent-foreground: 24 10% 10%;
    --destructive: 0 72.22% 50.59%;
    /* stone-50 */ --destructive-foreground: 60 9% 98%;
    /* stone-200 */ --border: 20 6% 90%;
    --error: 0 84% 60%;
    /* stone-200 */ --input: 20 6% 90%;
    /* stone-400 */ --ring: 24 5% 64%;
    --radius: 0.5rem;
  }

  .dark {
    /* stone-950 */ --background: 20 14% 4%;
    /* stone-50 */  --foreground: 60 9% 98%;
    /* stone-900 */ --card: 24 10% 10%;
    /* stone-50 */  --card-foreground: 60 9% 98%;
    /* stone-900 */ --popover: 24 10% 10%;
    /* stone-50 */  --popover-foreground: 60 9% 98%;
    /* stone-50 */  --primary: 60 9% 98%;
    /* stone-900 */ --primary-foreground: 24 10% 10%;
    /* stone-800 */ --secondary: 12 6% 15%;
    /* stone-50 */  --secondary-foreground: 60 9% 98%;
    /* stone-800 */ --muted: 12 6% 15%;
    /* stone-400 */ --muted-foreground: 24 5% 64%;
    /* stone-700 */ --accent: 30 6% 25%;
    /* stone-50 */  --accent-foreground: 60 9% 98%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 85.7% 97.3%;
    --error: 0 84% 60%;
    /* stone-800 */ --border: 12 6% 15%;
    /* stone-700 */ --input: 30 6% 25%;
    /* stone-600 */ --ring: 33 5% 32%;
  }
}
