NEXT_PUBLIC_SALEOR_API_URL=
NEXT_PUBLIC_DEFAULT_CHANNEL=
NEXT_PUBLIC_STOREFRONT_URL=
SALEOR_APP_TOKEN=
NEXT_PUBLIC_PAYMENT_APP_ID=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
NEXT_PUBLIC_ENVIRONMENT=
